.card-img-top {
    width: 100%;
    height: 170px;
}

.card-img-top2 {
    width: 100%;
    height: 240px;
}

body {
    background: rgb(170, 167, 167);
}

* {
    font-family: 'Roboto', sans-serif;
}

.checkout-form label {
    font-size: 14px;
    font-weight: 600;
}

.checkout-form input {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.order-details div {
    font-size: 16px;
    padding: 12px !important;
}

.search-bar {
    width: 50%;
}


/* rating */

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #b4afaf;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.checked {
    color: #fce40fb9;
}


/* End of Star Rating */

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px
}

.owl-next,
.owl-prev {
    position: absolute;
    top: 90px
}

.owl-next span,
.owl-prev span {
    font-size: 80px;
    color: rgb(211, 12, 12);
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}

*/ .portfolio-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}