.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

body {
    background: rgb(236, 229, 229);
}

* {
    font-family: 'Roboto', sans-serif;
}

.checkout-form label {
    font-size: 14px;
    font-weight: 600;
}

.checkout-form input {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
}

.order-details div {
    font-size: 16px;
    padding: 12px !important;
}


/* rating */

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #b4afaf;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.checked {
    color: #fce40fb9;
}


/* End of Star Rating */

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px
}

.owl-next,
.owl-prev {
    position: absolute;
    top: 90px
}

.owl-next span,
.owl-prev span {
    font-size: 80px;
    color: black;
}